.wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.superior {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.wrapper .carousel {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5));
  gap: 1em;
  overflow: hidden;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: none;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .item {
  cursor: grab;
  user-select: none;
}

.carousel .item {
  height: 250px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  scroll-snap-align: start;
}

.item .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.item h2 {
  font-weight: 500;
  font-size: 1.58rem;
}

.item span {
  color: grey;
  font-size: 1.2rem;
}

@media screen and (max-width: 920px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3));
  }
}

@media screen and (max-width: 500px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
