<br />
<div class="inf">
  <div class="wrapper">
    <div class="superior">
      <h2 class="h2">Lo nuevo</h2>
      <div class="botones">
        <button class="arrow" id="izq"><</button>
        <button class="arrow" id="der">></button>
      </div>
    </div>
    <ul class="carousel">
      <li class="item">
        <div class="img">
          <img
            src="../../../assets/productos/imagenes/2.jpg"
            alt="img"
            draggable="false"
          />
        </div>
        <h2>Alf</h2>
        <span>Alien Life Form</span>
      </li>
      <li class="item">
        <div class="img">
          <img
            src="../../../assets/productos/imagenes/3.jpg"
            alt="img"
            draggable="false"
          />
        </div>
        <h2>Del Potro</h2>
        <span>Extenista </span>
      </li>
      <li class="item">
        <div class="img">
          <img
            src="../../../assets/productos/imagenes/4.jpg"
            alt="img"
            draggable="false"
          />
        </div>
        <h2>Nicolino Locche</h2>
        <span>Boxeador </span>
      </li>
      <li class="item">
        <div class="img">
          <img
            src="../../../assets/productos/imagenes/5.jpg"
            alt="img"
            draggable="false"
          />
        </div>
        <h2>Manu Ginóbili</h2>
        <span>Jugador de basquet</span>
      </li>
      <li class="item">
        <div class="img">
          <img
            src="../../../assets/productos/imagenes/6.jpg"
            alt="img"
            draggable="false"
          />
        </div>
        <h2>Diego Maradona</h2>
        <span>El diegote</span>
      </li>
      <li class="item">
        <div class="img">
          <img
            src="../../../assets/productos/imagenes/7.jpg"
            alt="img"
            draggable="false"
          />
        </div>
        <h2>Lionel Messi</h2>
        <span>GOAT</span>
      </li>
      <li class="item">
        <div class="img">
          <img
            src="../../../assets/productos/imagenes/8.jpg"
            alt="img"
            draggable="false"
          />
        </div>
        <h2>Guido Kaczka</h2>
        <span>Actor y conductor</span>
      </li>
      <li class="item">
        <div class="img">
          <img
            src="../../../assets/productos/imagenes/9.jpg"
            alt="img"
            draggable="false"
          />
        </div>
        <h2>Juan Manuel Fangio</h2>
        <span>Piloto</span>
      </li>
    </ul>
  </div>
</div>
