<header class="header">
  <div class="header__sup sup">
    <ul class="ul">
      <li class="li" title="Ayuda"><a class="a4">Ayuda</a></li>
      <li class="li" title="Suscribirse"><a class="a4">Suscribirse</a></li>
    </ul>
  </div>
  <div class="header__med med">
    <a href="#" class="a"
      ><img
        src="https://cdn-icons-png.flaticon.com/512/731/731962.png"
        alt=""
        class="img_logo"
        loading="lazy"
    /></a>

    <ul class="ul">
      <li class="li">
        <a href="/adudas/" class="a nav" title="Destacados">Destacados</a>
      </li>
      <li class="li">
        <a href="/adudas/hombre" class="a nav" title="Hombre">Hombre</a>
      </li>
      <li class="li">
        <a href="/adudas/mujer" class="a nav" title="Mujer">Mujer</a>
      </li>
      <li class="li">
        <a href="/adudas/niño" class="a nav" title="Niño/a">Niño/a</a>
      </li>
      <li class="li">
        <a href="/adudas/mochila" class="a nav" title="Accesorios"
          >Accesorios</a
        >
      </li>
      <li class="li">
        <a href="/adudas/oportunidades" class="a nav" title="Oportunidades"
          >Oportunidades</a
        >
      </li>
    </ul>

    <a href="#" class="a"><img src="" alt="" class="img_buscar" /> Buscar</a>
  </div>
</header>
<app-publicidad></app-publicidad>
