.header {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 1;
}

.sup {
  width: 100%;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.7em 4.5em 0.7em 3.5em;
}

.med {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 0 4.5em 0 3.5em;
}

.img_logo {
  max-height: 3.5em;
}

.ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.li {
  margin: 0 1em;
}

.a {
  font-size: 1em;
}

a:hover {
  cursor: pointer;
}

.nav::after {
  content: "";
  height: 2px;
  width: 0;
  margin-top: 10px;
  background-color: black;
  display: block;
}

.nav:hover::after {
  width: 100%;
}

.a4 {
  font-size: 0.8em;
}
