<div class="component">
  <div class="div">
    <img
      src="https://www.hoopsrumors.com/files/2015/07/manuginobilivertical.jpg"
      alt=""
      class="img"
    />
    <h2 class="h2">Colección de Manu</h2>
    <div class="boton">
      <a href="#" class="buttonbg">Ver colección</a>
    </div>
  </div>
  <div class="div">
    <img
      src="https://pbs.twimg.com/media/Fj4c-N8XEAIL2y8.jpg:large"
      alt=""
      class="img"
    />
    <h2 class="h2">Colección de Leo</h2>
    <div class="boton">
      <a href="#" class="buttonbg">Ver colección</a>
    </div>
  </div>
</div>
