<div class="component">
  <div class="div">
    <a routerLink="/coleccion/manu">
      <img
        src="https://www.hoopsrumors.com/files/2015/07/manuginobilivertical.jpg"
        alt=""
        class="img"
    /></a>
    <h2 class="h2">Colección de Manu</h2>
    <div class="boton">
      <a routerLink="/coleccion/manu" class="buttonbg">Ver colección</a>
    </div>
  </div>
  <div class="div">
    <a routerLink="/coleccion/messi">
      <img
        src="https://pbs.twimg.com/media/Fj4c-N8XEAIL2y8.jpg:large"
        alt=""
        class="img"
    /></a>
    <h2 class="h2">Colección de Leo</h2>
    <div class="boton">
      <a routerLink="/coleccion/messi" class="buttonbg">Ver colección</a>
    </div>
  </div>
</div>
