<div class="box">
  <h2 class="h2">Términos y condiciones de Uso</h2>
  <br />
  <p class="p h3">
    POR FAVOR LEA ESTE DOCUMENTO CUIDADOSAMENTE Y NO OPERE EN LA PLATAFORMA (LA
    "PLATAFORMA") SI NO ESTÁ DE ACUERDO CON SUS TÉRMINOS Y CONDICIONES DE USO
    ("TÉRMINOS").<br /><br />
    ¡Bienvenido a la comunidad! Para nada son los términos de otra plataforma
    <br /><br />Estos Términos describen las reglas aplicables al uso de un
    sitio web, experiencia digital, una plataforma de medios sociales, una
    aplicación móvil, una tecnología portátil de propiedad de uno de nuestros
    otros productos o servicios, todos los cuales forman parte de la Plataforma.
    <br />Usted puede acceder a la Plataforma a través de una computadora,
    teléfono móvil, tableta, consola u otra tecnología similar ("Dispositivo").
    Las tarifas y gastos de su empresa de telecomunicaciones se aplican a su
    Dispositivo y están a su cargo. <br />Estos Términos constituyen un acuerdo
    legalmente vinculante entre usted ("Usted" o "Usuario") y Southbay S.R.L.
    ("Southbay") -distribuidor oficial de la marca- en adelante también
    indistinta y conjuntamente llamados "adudas", "Nosotros", "Nos" o Nuestro",
    con respecto al uso que Usted hace de la Plataforma. La entidad responsable
    de proporcionarle la Plataforma es SOUTHBAY S.R.L., CUIT 30-67815546-9, con
    domicilio en Av. Del Libertador 2442, Piso 5, Olivos, Provincia de Buenos
    Aires. Para contactarnos usted dispone de nuestros canales de comunicación,
    que detallamos aquí. Al hacer clic en el casillero de aceptación, Usted
    declara haber leído detenidamente, comprendido y consentido estos
    Términos.<br />
    A continuación, listamos algunos puntos importantes para Usted: Nuestros
    Términos pueden cambiar. Podemos actualizar estos Términos cuando lo
    consideremos oportuno. Si se realiza un cambio, publicaremos un aviso en la
    Plataforma. Usted deberá leer detenidamente cualquier cambio y se le
    otorgará la posibilidad de aceptarlo expresamente o no, en los casos en que
    dicho cambio sea sustancial. Si no está de acuerdo con el cambio, Usted
    tiene la posibilidad de dejar de usar la Plataforma. Términos de venta.
    Previo a realizar cualquier compra con Nosotros, Usted también debe aceptar
    los Términos de venta aplicables a su país o región. Política de privacidad.
    Nuestra Política de privacidad describe la recopilación y el uso de
    información personal en la Plataforma y se aplica a su uso de la Plataforma.
    El Usuario consiente en forma expresa, informada, voluntaria e inequívoca el
    tratamiento de sus datos personales por parte de SOUTHBAY, de conformidad
    con dicha Política de Privacidad.<br /><br />
    1- REGLAS BÁSICAS Requisitos. Para poder usar la Plataforma Usted deberá
    haber cumplido dieciocho (18) años, no estar declarado judicialmente como
    incapaz, o tener la capacidad restringida para contratar o disponer de su
    patrimonio o contar con el consentimiento de su progenitores, tutor o
    representante legal. Aunque es responsabilidad del usuario cumplir con este
    requisito, Southbay podrá pedirle documentación que acredite estos extremos.
    El objetivo de ese pedido siempre estará relacionado con la protección de la
    masa de usuarios. EN LA MÁXIMA MEDIDA PERMITIDA POR LA LEY APLICABLE, adudas
    NO ES RESPONSABLE DE NINGUNA PÉRDIDA O ACTIVIDAD QUE SURJA DEL USO NO
    AUTORIZADO DE SU INFORMACIÓN PERSONAL . <br /><br />2- PROPIEDAD DEL
    CONTENIDO Excepto por el Contenido de Usuario (definido a continuación),
    todo el contenido de nuestra Plataforma, incluidos textos, software (código
    fuente y código objeto), secuencias de comandos, códigos, diseños, gráficos,
    fotografías, sonidos, música, videos, aplicaciones, características
    interactivas, artículos, historias de noticias, bocetos, animaciones,
    etiquetas, obras de arte generales y otros contenidos protegidos por
    derechos de propiedad intelectual ("Contenido"), es propiedad de adudas
    Innovate C.V. y/o Southbay S.R.L. y/o de otras personas de las que tenemos
    licencia, y está protegido por las leyes sobre derechos de autor, marcas
    comerciales, patentes y demás derechos de propiedad intelectual e
    industrial. Usted reconoce que nada de lo dispuesto en estos Términos
    operará, ni se interpretará como, una licencia y/o cesión, total o
    particular, de los derechos de propiedad intelectual de adudas Innovate C.V.
    y/o Southbay S.R.L. en favor de Usted. adudas se reserva todos los derechos
    que no se describen expresamente en estos Términos. adudas Innovate C.V. es
    propietaria de todas las marcas comerciales, marcas de servicio y nombres
    comerciales (por ejemplo, el nombre de adudas y el diseño de Swoosh) y han
    obtenido el registro y/o la licencia de los mismos. Usted no adquiere una
    licencia ni ningún derecho de propiedad sobre ninguna marca comercial, marca
    de servicio o nombre comercial a través de su acceso o uso de la Plataforma
    o el Contenido. Usted acepta no cambiar ni eliminar ninguna notificación de
    propiedad a partir de materiales descargados o impresos desde la Plataforma.
    En la medida en que adudas apruebe la descarga o el uso de Contenido
    compuesto por derechos de autor u obras protegidas por derechos de autor,
    adudas le concede una licencia limitada, personal, intransferible, no
    sublicenciable, no exclusiva y revocable para acceder y usar dichos derechos
    de autor u obras protegidas por derecho de autor únicamente para su
    propósito previsto y únicamente durante el tiempo que adudas haga que dicho
    Contenido esté generalmente disponible para el público. Usted no adquiere
    derechos de propiedad sobre el Contenido (incluidas las marcas comerciales u
    otra propiedad intelectual incluida en el Contenido), y entiende que todo el
    Contenido está destinado para uso personal y no comercial. adudas se reserva
    el derecho de controlar su uso y de alterar o revocar esta licencia o su
    acceso al Contenido en cualquier momento y por cualquier motivo. adudas se
    reserva el derecho de retirar cualquier Contenido que infrinja estos
    términos o los derechos de propiedad intelectual de adudas. Tenga en cuenta
    que al permitirle efectuar este uso limitado, adudas no está renunciando a
    ninguno de sus derechos sobre el Contenido. Fuera de los derechos de uso
    específicos que adudas le concede en relación con la Plataforma, Usted
    acepta no usar, copiar, editar, alterar, modificar, traducir, exhibir,
    distribuir, descargar, transmitir, vender, usar como base para obras
    derivadas, ni explotar de ninguna manera ningún Contenido, incluido el
    Contenido de Usuario (a menos que sea su propio Contenido de Usuario que
    Usted publique legalmente en la Plataforma), sin el consentimiento previo
    por escrito de adudas. El uso no autorizado del Contenido puede constituir
    un incumplimiento de derechos de autor, marcas comerciales u otras leyes de
    propiedad intelectual y puede someterlo a cargos penales o civiles y
    sanciones. Usted no participará en actividades o cometerá cualesquiera actos
    que, directa o indirectamente, sean susceptibles de disputar o poner en
    riesgo los derechos de propiedad intelectual de adudas. Usted acepta no
    impugnar, atacar o cuestionar, de ninguna manera, los derechos de propiedad
    intelectual de adudas y/o cualesquiera otros derechos, títulos e intereses
    de adudas sobre el Contenido (ni ayudar a que ninguna otra persona o entidad
    lo haga).<br /><br />
    3- CÓDIGO DE CONDUCTA DEL USUARIO Nos emociona su contribución a la
    comunidad adudas. Estas son algunas reglas básicas: Actúe con
    responsabilidad No haga nada que pueda exponer a adudas o a sus usuarios a
    cualquier tipo de daño, incluyendo cualquier acción que pueda interrumpir,
    dañar, deshabilitar, alterar, sobrecargar o limitar la funcionalidad de la
    Plataforma. No eluda ni modifique ningún software de Plataforma o tecnología
    de seguridad. No utilice ningún método de extracción de datos, robots,
    scraping u otro método recopilación de datos similar. Actúe a título
    personal No utilice tecnología automatizada para interactuar con la
    Plataforma. Sea usted mismo. No se haga pasar por ninguna persona u
    organización, incluidos los atletas o empleados de adudas. <br /><br />4-
    TERCEROS EN LA PLATAFORMA Cuando lo considere oportuno, adudas puede
    vincularse o asociarse con sitios web de terceros, plataformas de redes
    sociales, aplicaciones móviles y otros productos y servicios ("Terceros").
    Puede conectarse con estos Terceros a través de la Plataforma, pero esto no
    significa que adudas avale, monitoree o tenga control sobre estos Terceros o
    sus actividades, que están sujetos a términos de uso y políticas de
    privacidad independientes. Debe revisar cuidadosamente los sitios de
    terceros, así como sus términos de uso y política de privacidad. adudas no
    es responsable del contenido, las políticas o las actividades de Terceros, y
    Usted decide interactuar con Terceros bajo su propio riesgo. <br /><br />5-
    RESCISIÓN De acuerdo a la legislación aplicable, Nosotros podremos rescindir
    o modificar la Plataforma, los productos o servicios en cualquier momento,
    sin previo aviso, por iniciativa propia o por petición de terceros. De
    acuerdo a la legislación aplicable, Nosotros podremos restringir el uso que
    Usted hace de la Plataforma o cualquier parte de ésta cuando identifiquemos
    que Usted realizó un uso indebido o sospechoso de la Plataforma, sin generar
    ninguna responsabilidad imputable a adudas. Estos Términos permanecerán
    vigentes incluso después de que haya dejado de usar la Plataforma.
    <br /><br />6- INDEMNIZACIÓN Queremos que disfrute de nuestra Plataforma,
    pero adudas también debe protegerse de cualquier daño que Usted pueda
    causar. INDEMNIZACIÓN Y LIBERACIÓN. De acuerdo a la legislación aplicable,
    Usted acepta indemnizar, defender y eximir de responsabilidad a adudas y sus
    directivos, directores, empleados, agentes, licenciantes y proveedores (las
    "Partes de adudas") de y contra todas las reclamaciones, pérdidas,
    responsabilidades, gastos, daños, directos o indirectos, y perjuicios y
    costos, lo que incluye, entre otros, honorarios de abogados, que de alguna
    manera surjan de o en relación con su Contenido de Usuario, su uso del
    Contenido, su uso de la Plataforma, su conducta en relación con la
    Plataforma o con otros usuarios de la Plataforma, o cualquier violación de
    estos Términos, cualquier ley o los derechos de terceros. Usted, para Usted
    y en nombre de sus herederos, patrimonio, aseguradoras, sucesores y
    cesionarios, por la presente libera y exonera de forma plena y completa a
    las Partes adudas de cualquier reclamación o motivo para iniciar acciones
    judiciales que pueda tener por daños y perjuicios relacionados de cualquier
    manera con el uso indebido y/o contrario a estos Términos de la Plataforma.
    <br /><br />7- DISPUTAS/TÉRMINOS ADICIONALES Derecho aplicable/jurisdicción
    La relación entre Usted y adudas se regirá por las leyes de la República
    Argentina y cualquier controversia se someterá a los Juzgados y/o Tribunales
    de la jurisdicción que pudiera corresponder en razón de las leyes de la
    República Argentina. Comunicaciones electrónicas Al usar la Plataforma,
    Usted acepta recibir ciertas comunicaciones electrónicas de adudas, sujetas
    a la ley aplicable. Usted acepta que cualquier aviso, acuerdo, divulgación u
    otra comunicación que adudas le envíe electrónicamente cumplirá con
    cualquier requisito de comunicación legal, lo que incluye que dichas
    comunicaciones sean por escrito. Todas las comunicaciones efectuadas de la
    forma arriba descripta se entenderán realizadas por la parte remitente,
    considerándose las mismas como válidas, legítimas y auténticas sin necesidad
    de realizar otro tipo de confirmación. El Usuario declara que las
    comunicaciones llevadas a cabo de la forma descripta arriba serán tenidas
    como prueba válida y completa de su voluntad, y renuncia de forma
    irrevocable a objetar su validez y eficacia. Derecho de cesión, ausencia de
    renuncia y nulidad parcial adudas podrá ceder sus derechos y deberes en
    virtud de estos Términos a cualquier parte en cualquier momento, a cualquier
    miembro del Grupo Regency y adudas, pero esto no altera sus derechos ni
    nuestras obligaciones en virtud de estos Términos. El hecho de que adudas no
    insista ni exija el cumplimiento de lo estrictamente pactado en estos
    Términos no constituye una renuncia a ninguno de estos Términos o a los
    derechos de adudas. Si se llega a determinar que alguna disposición de estos
    Términos es inválida o inexigible, el resto de estos Términos continuará
    siendo exigible. Gracias por leer. ¡Disfrute de nuestra comunidad!
    <br /><br />8- ATENCIÓN AL CONSUMIDOR/USUARIO Al utilizar nuestra
    plataforma, Usted podrá utilizar el chat de Whatsapp que le
    proporcionaremos, con el fin de que se pueda contactar con nosotros para
    manifestarnos sus consultas, entendiéndose el mismo como un canal de
    atención al cliente. Dicho chat va a contar con un número telefónico y un
    redireccionamiento directo desde la Plataforma hasta el mismo. La finalidad
    del chat de referencia será exclusivamente despejar las inquietudes de los
    usuarios, no efectuar o concretar algún tipo de venta.
  </p>
</div>
