.coleccion {
  padding: 0 3.6em;
}

.img {
  height: 1000px;
}

.parrafo {
  padding: 3em 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
