<div class="ver">
  <div class="columna1">
    <div class="grid">
      <li class="item" *ngFor="let i of producto.galeria">
        <img src="{{ i }}" alt="" class="img" />
      </li>
    </div>
  </div>
  <div class="columna2">
    <div class="derecha">
      <div class="box">
        <h3 class="h3 nuevo padleft" *ngIf="producto.nuevo">Lo nuevo</h3>
        <div class="box">
          <h2 class="h2 titulo">{{ producto.nombre }}</h2>
          <h3 class="h3 descripcion padleft">{{ producto.descripcion }}</h3>
        </div>
        <div
          *ngIf="producto.descuento > 0; then thenBlock; else elseBlock"
        ></div>
        <ng-template #thenBlock>
          <div class="boxprecio">
            <h3 class="h3 precio tachado">
              $ {{ producto.precio.toLocaleString() }}
            </h3>
            <h2 class="h2 precio">
              $
              {{
                calcularDescuento(
                  producto.precio,
                  producto.descuento
                ).toLocaleString()
              }}
            </h2>
          </div>
          <h3 class="h3 precio descuento">
            {{ producto.descuento }}% de descuento
          </h3></ng-template
        >
        <ng-template #elseBlock
          ><h2 class="h2 precio padleft">
            $ {{ producto.precio.toLocaleString() }}
          </h2></ng-template
        >
      </div>
      <div class="box stock">
        <h3 class="h3">- Stock disponible</h3>
        <h3 class="h3">- Envío gratis</h3>
      </div>
      <div class="botonera">
        <button class="button-40" (click)="comprarAhora()">
          Comprar ahora
        </button>

        <ng-template
          *ngIf="!addedBool; then thenBlack; else elseBlack"
        ></ng-template>
        <ng-template #thenBlack>
          <button
            class="button-40 button-40-light"
            (click)="agregarAlCarrito()"
          >
            Agregar al carrito
          </button></ng-template
        >
        <ng-template #elseBlack>
          <h3 class="h3 added">Agregado al carrito</h3>
          <button
            class="button-40 button-40-light"
            (click)="agregarAlCarrito()"
          >
            Agregar otro al carrito
          </button></ng-template
        >
      </div>
    </div>
  </div>
</div>

<div class="ver">
  <app-mostrar-carrusel
    [texto]="'Ver también'"
    [productos]="productosPromo"
  ></app-mostrar-carrusel>
</div>
