.ver {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  padding: 3.6em;
  background-color: rgb(240, 240, 240);
  background-color: white;
}

.columna1 {
  width: 80%;
}
.columna2 {
  width: 20%;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.grid .item {
  max-height: 680px;
  max-width: 680px;
}

.grid .img {
  max-height: 680px;
  max-width: 680px;
}

.derecha {
  padding: 2em;
  background-color: white;
  width: 100%;
}

.nuevo {
  color: orange;
}

.precio {
  font-weight: bold;
}
.tachado {
  color: gray;
  text-decoration: line-through;
}
.descuento {
  color: green;
}

.boxprecio {
  display: flex;
  flex-flow: row;
  gap: 0.5em;
}
.h3 {
  font-size: 20px;
}

.titulo {
  font-size: 34px;
}
