.div {
  padding: 0 2.9% 0 2.9%;
}

.titulo {
  height: 120px;
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.lateral {
  width: 288px;
  height: 2000px;
}

.lateral .sup {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}

.sup .clickeable {
  font-weight: 100;
  text-decoration: underline;
}
.sup .clickeable:hover {
  cursor: pointer;
}

.division::after {
  content: "";
  margin-left: 12px;
  height: 1px;
  width: 90%;
  margin-top: 10px;
  background-color: lightgrey;
  display: block;
}

.division .item {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 0.5em;
}

.division .item .despliegue:hover {
  cursor: pointer;
}

.productosbox {
  width: 100%;
  padding: 1em;
}
