<div class="div">
  <div class="titulo"><h2 class="h2">Adudas</h2></div>
  <div class="contenedor">
    <div class="lateral">
      <div class="division">
        <div class="sup">
          <h3 class="h3">Filtros</h3>
          <h3 class="h3 clickeable">Limpiar Filtros</h3>
        </div>
        <div class="gap"></div>
        <div class="opciones" *ngIf="filtros">
          <div class="opc" *ngFor="let f of filtros" (click)="checkButton(f)">
            <button class="button-38 button-checked">✓</button>
            <h3 class="h3 hopciones">{{ f }}</h3>
          </div>
        </div>
      </div>
      <div class="div division">
        <div class="item" (click)="clickItem(1)">
          <h3 class="h3">Oportunidades</h3>
          <div class="arrow" [ngClass]="abierto[1] ? 'up' : 'down'"></div>
        </div>
        <div class="opciones" *ngIf="abierto[1]">
          <div
            class="opc"
            *ngFor="let d of descuentos"
            (click)="checkButton(d)"
          >
            <button
              class="button-38"
              [ngClass]="filtros.includes(d) ? 'button-checked' : ''"
            >
              ✓
            </button>
            <h3 class="h3 hopciones">{{ d }}</h3>
          </div>
        </div>
      </div>
      <div class="div division">
        <div class="item" (click)="clickItem(2)">
          <h3 class="h3">Categorías</h3>
          <div class="arrow" [ngClass]="abierto[2] ? 'up' : 'down'"></div>
        </div>
        <div class="opciones" *ngIf="abierto[2]">
          <div
            class="opc"
            *ngFor="let c of categorias"
            (click)="checkButton(c)"
          >
            <button
              class="button-38"
              [ngClass]="filtros.includes(c) ? 'button-checked' : ''"
            >
              ✓
            </button>
            <h3 class="h3 hopciones">{{ c }}</h3>
          </div>
        </div>
      </div>
      <div class="div division">
        <div class="item" (click)="clickItem(3)">
          <h3 class="h3">Género</h3>
          <div class="arrow" [ngClass]="abierto[3] ? 'up' : 'down'"></div>
        </div>
        <div class="opciones" *ngIf="abierto[3]">
          <div class="opc" *ngFor="let g of generos" (click)="checkButton(g)">
            <button
              class="button-38"
              [ngClass]="filtros.includes(g) ? 'button-checked' : ''"
            >
              ✓
            </button>
            <h3 class="h3 hopciones">{{ g }}</h3>
          </div>
        </div>
      </div>
      <div class="div division">
        <div class="item" (click)="clickItem(4)">
          <h3 class="h3">Deportes</h3>
          <div class="arrow" [ngClass]="abierto[4] ? 'up' : 'down'"></div>
        </div>
        <div class="opciones" *ngIf="abierto[4]">
          <div class="opc" *ngFor="let d of deportes" (click)="checkButton(d)">
            <button
              class="button-38"
              [ngClass]="filtros.includes(d) ? 'button-checked' : ''"
            >
              ✓
            </button>
            <h3 class="h3 hopciones">{{ d }}</h3>
          </div>
        </div>
      </div>
      <div class="div division">
        <div class="item" (click)="clickItem(5)">
          <h3 class="h3">Recientemente agregados</h3>
          <div class="arrow" [ngClass]="abierto[5] ? 'up' : 'down'"></div>
        </div>
        <div class="opciones" *ngIf="abierto[5]">
          <div class="opc" (click)="checkButton('Novedades')">
            <button
              class="button-38"
              [ngClass]="filtros.includes('Novedades') ? 'button-checked' : ''"
            >
              ✓
            </button>
            <h3 class="h3 hopciones">Novedades</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="productosbox">
      <app-gridproductos [filtros]="filtros"></app-gridproductos>
    </div>
  </div>
</div>
