<div class="div">
  <div class="titulo"><h2 class="h2">Adudas</h2></div>
  <div class="contenedor">
    <div class="lateral">
      <div class="division">
        <div class="sup">
          <h3 class="h3">Filtros</h3>
          <h3 class="h3 clickeable">Limpiar Filtros</h3>
        </div>
      </div>
      <div class="div division">
        <div class="item" (click)="clickItem(1)">
          <h3 class="h3">Oportunidades</h3>
          <div class="arrow" [ngClass]="abierto[1] ? 'up' : 'down'"></div>
        </div>
        <div class="opciones" *ngIf="abierto[1]">
          <div class="opc">
            <button class="button-38">✓</button>
            <h3 class="h3 hopciones">40% OFF</h3>
          </div>
          <div class="opc">
            <button class="button-38">✓</button>
            <h3 class="h3 hopciones">30% OFF</h3>
          </div>
          <div class="opc">
            <button class="button-38">✓</button>
            <h3 class="h3 hopciones">20% OFF</h3>
          </div>
        </div>
      </div>
      <div class="div division">
        <div class="item" (click)="clickItem(2)">
          <h3 class="h3">Categorías</h3>
          <div class="arrow" [ngClass]="abierto[2] ? 'up' : 'down'"></div>
        </div>
        <div class="opciones" *ngIf="abierto[2]">
          <div class="opc" *ngFor="let c of categorias">
            <button class="button-38">✓</button>
            <h3 class="h3 hopciones">{{ c }}</h3>
          </div>
        </div>
      </div>
      <div class="div division">
        <div class="item" (click)="clickItem(3)">
          <h3 class="h3">Género</h3>
          <div class="arrow" [ngClass]="abierto[3] ? 'up' : 'down'"></div>
        </div>
        <div class="opciones" *ngIf="abierto[3]">
          <div class="opc" *ngFor="let g of generos">
            <button class="button-38">✓</button>
            <h3 class="h3 hopciones">{{ g }}</h3>
          </div>
        </div>
      </div>
      <div class="div division">
        <div class="item" (click)="clickItem(4)">
          <h3 class="h3">Deportes</h3>
          <div class="arrow" [ngClass]="abierto[4] ? 'up' : 'down'"></div>
        </div>
        <div class="opciones" *ngIf="abierto[4]">
          <div class="opc" *ngFor="let d of deportes">
            <button class="button-38">✓</button>
            <h3 class="h3 hopciones">{{ d }}</h3>
          </div>
        </div>
      </div>
      <div class="div division">
        <div class="item" (click)="clickItem(5)">
          <h3 class="h3">Recientemente agregados</h3>
          <div class="arrow" [ngClass]="abierto[5] ? 'up' : 'down'"></div>
        </div>
        <div class="opciones" *ngIf="abierto[5]">
          <div class="opc">
            <button class="button-38">✓</button>
            <h3 class="h3 hopciones">Novedades</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="productosbox"><app-gridproductos></app-gridproductos></div>
  </div>
</div>
