<div class="div">
  <div class="titulo">Adudas</div>
  <div class="contenedor">
    <div class="lateral">
      <div class="division">
        <div class="sup">
          <h3 class="h3">Filtros</h3>
          <a href="" class="a"><h3 class="h3">Limpiar filtro</h3></a>
        </div>
      </div>
      <div class="div division">
        <div class="item">
          <h3 class="h3">Oportunidades</h3>
          <a href="/adudas/" class="despliegue">^</a>
        </div>
      </div>
      <div class="div division">
        <div class="item">
          <h3 class="h3">Categoría</h3>
          <a href="/adudas/" class="despliegue">^</a>
        </div>
      </div>
      <div class="div division">
        <div class="item">
          <h3 class="h3">Género</h3>
          <a href="/adudas/" class="despliegue">^</a>
        </div>
      </div>
      <div class="div division">
        <div class="item">
          <h3 class="h3">Deporte</h3>
          <a href="/adudas/" class="despliegue">^</a>
        </div>
      </div>
      <div class="div division">
        <div class="item">
          <h3 class="h3">Precio</h3>
          <a href="/adudas/" class="despliegue">^</a>
        </div>
      </div>
      <div class="div division">
        <div class="item">
          <h3 class="h3">Recientemente agregado</h3>
          <a href="/adudas/" class="despliegue">^</a>
        </div>
      </div>
    </div>
    <div class="productosbox"></div>
  </div>
</div>
