.div {
  padding: 0 2.9% 0 2.9%;
}

.gap {
  padding-top: 1em;
}

.titulo {
  height: 120px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 0.5em;
  width: 95%;
}

.titulo_filtrar {
  display: flex;
}

.contenedor {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.lateral {
  width: 288px;
  height: 1000px;
}

.lateral .sup {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 90%;
  margin: auto;
}

.sup .subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cross {
  display: none;
}

.sup .clickeable {
  font-weight: 100;
  text-decoration: underline;
}
.sup .clickeable:hover {
  cursor: pointer;
}

.division::after {
  content: "";
  margin-left: 12px;
  height: 1px;
  width: 90%;
  margin-top: 10px;
  background-color: lightgrey;
  display: block;
}

.division .item {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 0.5em;
}

.division .item:hover {
  cursor: pointer;
}

.division .opc {
  display: flex;
  flex-flow: row;
  align-items: center;
  cursor: pointer;
  margin-left: 0.6em;
  margin-bottom: 0.2em;
}

.division .hopciones {
  margin-left: 0.3em;
  font-weight: normal;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow:hover {
  cursor: pointer;
}

.productosbox {
  width: 100%;
  padding: 1em;
}

/* CSS */
.button-38 {
  background-color: white;
  border: 0;
  border-radius: 0.3rem;
  box-sizing: border-box;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0rem 0.3rem 0.2rem;
  text-align: end;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  height: 18px;
}

.button-38:hover {
  background-color: rgb(239, 240, 241);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

.button-checked {
  background-color: #111827;
}

@media screen and (max-width: 640px) {
  .lateral {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 1;

    width: 450px;
    height: 100%;
    transition: 0.5 ease;
    justify-content: flex-end;
    transform: translateX(+450px);

    padding: 1em;
    overflow: scroll;
  }
  .cross {
    display: block;
  }
}
