<div class="component">
  <div class="div">
    <a href="/adudas/hombre" class="a">
      <img
        src="https://nikearprod.vtexassets.com/assets/vtex.file-manager-graphql/images/0f16ce49-8b74-42d0-990b-5e10659bc589___75d40035bda78b6bc095a2cff479dbe8.jpg"
        alt=""
        class="img"
    /></a>
    <h2 class="h2">Entrenamiento para Él</h2>
  </div>
  <div class="div">
    <a href="/adudas/mujer" class="a">
      <img
        src="https://nikearprod.vtexassets.com/assets/vtex.file-manager-graphql/images/ae2bd7ea-b634-4984-bba5-c4e6635e4760___97c0f66f6febd0c21cce1572dd4e558c.jpg"
        alt=""
        class="img"
    /></a>
    <h2 class="h2">Entrenamiento para Ella</h2>
  </div>
</div>
