<div
  class="cart"
  data-bind="visible: hasItems() &amp;&amp; !loading()"
  style=""
>
  <table class="table cart-items">
    <thead>
      <tr>
        <th colspan="2" class="product" data-i18n="global.product">Producto</th>
        <th
          class="shipping-date"
          data-i18n="global.delivery"
          data-bind="visible: !window.router.sac.isActive()"
        >
          Envío
        </th>
        <th class="product-price" data-i18n="global.price">Precio</th>
        <th class="quantity" data-i18n="global.quantity">Cantidad</th>
        <th class="quantity-price" data-i18n="global.total">Total</th>
        <th class="item-remove"></th>
      </tr>
    </thead>
    <tbody>
      <!-- ko template: { name: 'cart-item-template', foreach: filteredItems, afterRender: afterCartRender } -->
      <tr
        class="product-item"
        data-bind="attr: {'data-sku': id}, availableCSS: available(), css: { 'sac-product' : window.router.sac.isActive() }"
        rowspan="2"
        data-sku="65108"
      >
        <div class="v-custom-product-item-wrap">
          <td
            data-bind="css: { 'product-image': imageUrl, 'sac-loading' : window.cart.loadingItem() }"
            class="product-image"
          >
            <a
              href="//www.nike.com.ar/nike-sportswear-sport-essentials-dm6829-335/p"
              data-bind="attr: {'href': ('//' + location.host + detailUrl())}"
            >
              <!-- ko if: imageUrl -->
              <img
                height="45"
                width="45"
                data-bind="attr: {'src': imageUrl, 'alt': name, 'id': 'product-image-' + id()}"
                src="//nikearprod.vteximg.com.br/arquivos/ids/731119-200-200/DM6829_335_A_PREM.jpg?v=638308276852200000"
                alt="Nike Spor  tswear Sport Essentials Talle: M Color: Verde"
                id="product-image-65108"
              />
              <!-- /ko -->
              <!-- ko ifnot: imageUrl --><!-- /ko -->
            </a>
          </td>
          <td
            class="product-name"
            data-bind="css: { 'sac-loading' : window.cart.loadingItem() }"
          >
            <!-- ko ifnot: router.sac.isActive() -->
            <a
              href="//www.nike.com.ar/nike-sportswear-sport-essentials-dm6829-335/p"
              data-bind="text: name, attr: {'href': ('//' + location.host + detailUrl()), 'id': 'product-name' + id() }"
              id="product-name65108"
              >Nike Sportswear Sport Essentials Talle: M Color: Verde</a
            >
            <!-- /ko -->
            <!-- ko if: router.sac.isActive() --><!-- /ko -->
            <!-- ko ifnot: hasParentItemIndex() -->
            <div class="brand">
              <span class="brand-label" data-i18n="cart.seller.brand"
                >Marca</span
              >
              <span class="brand-name" data-bind="text: brand"
                >Nike Sportswear</span
              >
            </div>
            <small class="seller muted" data-bind="if: sellerName">
              <span data-i18n="cart.soldBy"
                >Suministrados y entregados por</span
              >
              <span data-bind="text: sellerName">Nike Argentina</span>
            </small>
            <!-- /ko -->
            <a
              href="javascript:void(0)"
              class="pull-right sku-button sku-selector-button"
              data-bind="click: openSKUSelector, clickBubble: false, visible: window.router.sac.isActive() &amp;&amp; skuOptions().length"
              style="display: none"
            >
              <span data-i18n="cart.sku.change">Cambiar este producto</span>
              <i
                data-bind="visible: !isSKUSelectorOpen()"
                class="icon icon-caret-down"
              ></i>
              <i
                data-bind="visible: isSKUSelectorOpen()"
                class="icon icon-caret-up"
                style="display: none"
              ></i>
            </a>
            <div
              class="sku-selector sku-seletor-65108"
              data-bind="attr: { class: 'sku-selector sku-seletor-' + id() }, fadeVisible: isSKUSelectorOpen"
              tabindex="-1"
              style="display: none"
            >
              <!-- ko if: SKUSelectorLoading() -->
              <div class="loading-img sku-selector-loading">
                <i class="icon-spinner icon-spin icon-3x">
                  <span data-i18n="global.loading">Cargando...</span>
                </i>
              </div>
              <!-- /ko -->
              <!-- ko if: skuOptions().length && !SKUSelectorLoading() --><!-- /ko -->
              <!-- ko if: skuOptions().length < 1 -->
              <p
                class="sku-message sku-selector-empty"
                data-i18n="cart.sku.withoutVariation"
              >
                Este producto no tiene variación
              </p>
              <!-- /ko -->
            </div>
            <ul
              class="item-discount-descriptions"
              data-bind="foreach: priceTags"
            >
              <li
                data-bind="if: ratesAndBenefitsIdentifier &amp;&amp; ratesAndBenefitsIdentifier.featured"
              ></li>
            </ul>
            <!-- ko if: router.inCart() == true  && availableOfferings() -->
            <!-- ko if: availableOfferings().length > 1 --><!-- /ko -->
            <!-- ko if: availableOfferings().length == 1 --><!-- /ko -->
            <!-- ko if: itemAttachmentOfferings().length > 1 --><!-- /ko -->
            <!-- ko if: itemAttachmentOfferings().length == 1 --><!-- /ko -->
            <!-- ko if: itemAttachments() && itemAttachments().length > 0 --><!-- /ko -->
            <!-- /ko -->
          </td>
          <td
            class="shipping-date"
            data-bind="visible: !hasParentItemIndex(), css: { 'empty': estimateLabel() == 'a calcular', 'pickup-only': pickupOnly }, visible: !window.router.sac.isActive()"
          >
            <!-- ko if: available() -->
            <span
              class="shipping-estimate-date"
              data-bind="visible: !hasParentItemIndex(), text: estimateLabel"
              >Hasta 1 día hábil</span
            >
            <span
              class="shipping-estimate-date shipping-estimate-detail"
              data-bind="text: estimateDetailLabel"
            ></span>
            <div class="sla-info hide">
              <div class="sla-price" data-bind="text: shippingPriceLabel">
                $ 1.961
              </div>
              <div class="sla-name">
                <small data-bind="text: shippingName"
                  >Envío Express - Lun a Vie de 9 a 21hs</small
                >
              </div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: available() --><!-- /ko -->
          </td>
          <td class="product-price">
            <!-- ko if: isPriceVisible -->
            <span
              class="list-price"
              data-bind="css: { 'hide' : !isListPriceVisible() }, visible: manualPrice() == null || (isManualPriceActive() &amp;&amp; manualPrice() == null)"
            >
              <span class="old-product-price-label" data-i18n="cart.oldPrice"
                >De</span
              >
              <del
                class="old-product-price muted"
                data-bind="text: listPriceLabel"
                >$ 69.999</del
              >
            </span>
            <br data-bind="css: { 'hide' : !isListPriceVisible() }" class="" />
            <span class="best-price">
              <span
                class="new-product-price-label"
                data-bind="css: { 'hide' : !isListPriceVisible() }, visible: manualPrice() == null || (isManualPriceActive() &amp;&amp; manualPrice() == null), i18nText: 'cart.newPrice'"
                >Por</span
              >
              <!-- ko ifnot: isManualPriceActive() -->
              <span
                class="new-product-real-price hide"
                data-bind="text: priceLabel"
                >$ 69.999</span
              >
              <!-- ko if: $parent.allowManualPrice() --><!-- /ko -->
              <!-- ko ifnot: $parent.allowManualPrice() -->
              <span
                class="new-product-price"
                data-bind="text: sellingPriceLabel"
                >$ 55.999</span
              >
              <!-- /ko -->
              <a
                class="manualprice-link-remove"
                href="javascript:void(0);"
                data-bind="click: removeManualPrice, visible: manualPrice() != null"
                data-i18n="[title]global.remove"
                style="display: none"
                title="Eliminar"
              >
                <i class="icon icon-remove item-remove-ico"></i>
                <span
                  class="hide manualprice-remove-text"
                  data-i18n="global.remove"
                  >Eliminar</span
                >
              </a>
              <!-- /ko -->
              <!-- ko if: isManualPriceActive() --><!-- /ko -->
              <small
                class="new-product-real-price-per-unit"
                data-bind="text: priceLabelPerUnit"
              ></small>
              <!-- ko if: sellingPriceList().length > 1 || price() > sellingPrice() -->
              <!-- ko template: { name: 'price-detail-template', data: priceDetail } -->
              <div class="price-details">
                <a
                  class="price-details-icon discount"
                  href="javascript:void(0);"
                  aria-haspopup="true"
                  data-bind="      attr: {        'aria-labelledby': id      },      event: {        'mouseover': showPriceDetails,        'mouseout': hidePriceDetails,        'focus': showPriceDetails,        'blur': hidePriceDetails,      }"
                  aria-labelledby="price-detail-popup-4"
                >
                  <i aria-hidden="true" class="icon-question-sign"></i>
                </a>
                <div
                  class="price-details-popup field-help"
                  data-bind="attr: { id: id, 'aria-hidden': !isShowingPriceDetails },visible: isShowingPriceDetails"
                  role="tooltip"
                  id="price-detail-popup-4"
                  style="display: none"
                >
                  <!-- ko if: sellingPriceList().length > 1 --><!-- /ko -->
                  <!-- ko if: price() > sellingPrice() -->
                  <strong
                    class="price-details-title price-details-discount-title"
                  >
                    <span data-i18n="totalizers.Discounts">Descuentos</span>
                  </strong>
                  <span data-bind="text: discount">$ 14.000 por un</span>
                  <!-- /ko -->
                </div>
              </div>
              <!-- /ko -->
              <!-- /ko -->
            </span>
            <!-- /ko -->
          </td>
          <td
            class="quantity"
            data-bind="css: {'cant-change-qty': !canChangeQty(), 'quantity-large': quantity() > 999},                   attr: { 'disabled': window.cart.loadingItem }"
          >
            <!-- ko if: router.inCart -->
            <!-- ko ifnot: router.sac.isActive() || hasParentItemIndex() -->
            <a
              class="item-quantity-change item-quantity-change-decrement"
              href="javascript:void(0);"
              data-bind="click: function() { if (canChangeQty()) { decrement(); } }, css: { 'disabled': !canChangeQty() }, attr: { 'id': 'item-quantity-change-decrement-' + id() }"
              data-i18n="[title]cart.decrement"
              id="item-quantity-change-decrement-65108"
              title="Disminuya la cantidad"
            >
              <i class="icon icon-minus-sign"></i
              ><span
                class="hide item-quantity-change-decrement-text"
                data-i18n="cart.decrement"
                >Disminuya la cantidad</span
              >
            </a>
            <!-- /ko -->
            <!-- ko ifnot: hasParentItemIndex() -->
            <input
              type="tel"
              min="1"
              data-bind="valueUpdate: 'keyup',            value: quantity,            maskOnBlur: '99999',            event: { blur: quantityBlurHandler },            attr: { 'disabled': !canChangeQty(), 'id': 'item-quantity-' + id() }"
              id="item-quantity-65108"
            />
            <!-- /ko -->
            <!-- ko if: hasParentItemIndex() --><!-- /ko -->
            <!-- ko ifnot: router.sac.isActive() || hasParentItemIndex() -->
            <a
              class="item-quantity-change item-quantity-change-increment"
              href="javascript:void(0);"
              data-bind="click: function() { if (canChangeQty()) { increment(); } }, css: { 'disabled': !canChangeQty() }, attr: { 'id': 'item-quantity-change-increment-' + id() }"
              data-i18n="[title]cart.increment"
              id="item-quantity-change-increment-65108"
              title="Aumente la cantidad"
            >
              <i class="icon icon-plus-sign"></i
              ><span
                class="hide item-quantity-change-increment-text"
                data-i18n="cart.increment"
                >Aumente la cantidad</span
              >
            </a>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: router.inOrderForm --><!-- /ko -->
            <small
              class="item-multiplier-label"
              data-bind="text: multiplierLabel"
            ></small>
            <small class="item-unit-label" data-bind="text: unitLabel"></small>
          </td>
          <td class="quantity-price">
            <span
              class="total-price hide"
              data-bind="text: priceValueLabel, if: isPriceVisible"
              >$ 139.998</span
            >
            <span
              class="total-selling-price"
              data-bind="text: valueLabel, if: isPriceVisible"
              >$ 111.998</span
            >
          </td>
          <td class="item-remove">
            <a
              class="item-link-remove"
              href="javascript:void(0);"
              data-bind="click: remove, visible: !window.cart.loadingItem(), attr: { 'id': 'item-remove-' + id() }"
              data-i18n="[title]global.remove"
              id="item-remove-65108"
              title="Eliminar"
            >
              <i class="icon icon-remove item-remove-ico"></i
              ><span class="hide item-remove-text" data-i18n="global.remove"
                >Eliminar</span
              >
            </a>
            <i
              class="loading-text icon-spinner icon-spin"
              data-bind="visible: window.cart.loadingItem"
              style="display: none"
            >
              <span data-i18n="cart.wait">Cargando datos...</span>
            </i>
          </td>
        </div>
        <!-- ko ifnot: router.sac.isActive() || hasParentItemIndex() -->
        <!-- /ko -->
      </tr>
      <!-- ko ifnot: available --><!-- /ko --><!-- ko if: itemAttachments() && itemAttachments().length > 0 --><!-- /ko --><!-- ko if: bundleItems() && bundleItems().length > 0 --><!-- /ko --><!-- ko if: components() && components().length > 0 --><!-- /ko -->
      <tr
        class="product-item"
        data-bind="attr: {'data-sku': id}, availableCSS: available(), css: { 'sac-product' : window.router.sac.isActive() }"
        rowspan="2"
        data-sku="64123"
      >
        <div class="v-custom-product-item-wrap">
          <td
            data-bind="css: { 'product-image': imageUrl, 'sac-loading' : window.cart.loadingItem() }"
            class="product-image"
          >
            <a
              href="//www.nike.com.ar/nike-pro-cz9857-010/p"
              data-bind="attr: {'href': ('//' + location.host + detailUrl())}"
            >
              <!-- ko if: imageUrl -->
              <img
                height="45"
                width="45"
                data-bind="attr: {'src': imageUrl, 'alt': name, 'id': 'product-image-' + id()}"
                src="//nikearprod.vteximg.com.br/arquivos/ids/722782-200-200/CZ9857_010_A_PREM.jpg?v=638301453834630000"
                alt="Nike Pro Talle: XS Color: Negro"
                id="product-image-64123"
              />
              <!-- /ko -->
              <!-- ko ifnot: imageUrl --><!-- /ko -->
            </a>
          </td>
          <td
            class="product-name"
            data-bind="css: { 'sac-loading' : window.cart.loadingItem() }"
          >
            <!-- ko ifnot: router.sac.isActive() -->
            <a
              href="//www.nike.com.ar/nike-pro-cz9857-010/p"
              data-bind="text: name, attr: {'href': ('//' + location.host + detailUrl()), 'id': 'product-name' + id() }"
              id="product-name64123"
              >Nike Pro Talle: XS Color: Negro</a
            >
            <!-- /ko -->
            <!-- ko if: router.sac.isActive() --><!-- /ko -->
            <!-- ko ifnot: hasParentItemIndex() -->
            <div class="brand">
              <span class="brand-label" data-i18n="cart.seller.brand"
                >Marca</span
              >
              <span class="brand-name" data-bind="text: brand">Nike</span>
            </div>
            <small class="seller muted" data-bind="if: sellerName">
              <span data-i18n="cart.soldBy"
                >Suministrados y entregados por</span
              >
              <span data-bind="text: sellerName">Nike Argentina</span>
            </small>
            <!-- /ko -->
            <a
              href="javascript:void(0)"
              class="pull-right sku-button sku-selector-button"
              data-bind="click: openSKUSelector, clickBubble: false, visible: window.router.sac.isActive() &amp;&amp; skuOptions().length"
              style="display: none"
            >
              <span data-i18n="cart.sku.change">Cambiar este producto</span>
              <i
                data-bind="visible: !isSKUSelectorOpen()"
                class="icon icon-caret-down"
              ></i>
              <i
                data-bind="visible: isSKUSelectorOpen()"
                class="icon icon-caret-up"
                style="display: none"
              ></i>
            </a>
            <div
              class="sku-selector sku-seletor-64123"
              data-bind="attr: { class: 'sku-selector sku-seletor-' + id() }, fadeVisible: isSKUSelectorOpen"
              tabindex="-1"
              style="display: none"
            >
              <!-- ko if: SKUSelectorLoading() -->
              <div class="loading-img sku-selector-loading">
                <i class="icon-spinner icon-spin icon-3x">
                  <span data-i18n="global.loading">Cargando...</span>
                </i>
              </div>
              <!-- /ko -->
              <!-- ko if: skuOptions().length && !SKUSelectorLoading() --><!-- /ko -->
              <!-- ko if: skuOptions().length < 1 -->
              <p
                class="sku-message sku-selector-empty"
                data-i18n="cart.sku.withoutVariation"
              >
                Este producto no tiene variación
              </p>
              <!-- /ko -->
            </div>
            <ul
              class="item-discount-descriptions"
              data-bind="foreach: priceTags"
            ></ul>
            <!-- ko if: router.inCart() == true  && availableOfferings() -->
            <!-- ko if: availableOfferings().length > 1 --><!-- /ko -->
            <!-- ko if: availableOfferings().length == 1 --><!-- /ko -->
            <!-- ko if: itemAttachmentOfferings().length > 1 --><!-- /ko -->
            <!-- ko if: itemAttachmentOfferings().length == 1 --><!-- /ko -->
            <!-- ko if: itemAttachments() && itemAttachments().length > 0 --><!-- /ko -->
            <!-- /ko -->
          </td>
          <td
            class="shipping-date"
            data-bind="visible: !hasParentItemIndex(), css: { 'empty': estimateLabel() == 'a calcular', 'pickup-only': pickupOnly }, visible: !window.router.sac.isActive()"
          >
            <!-- ko if: available() -->
            <span
              class="shipping-estimate-date"
              data-bind="visible: !hasParentItemIndex(), text: estimateLabel"
              >Hasta 1 día hábil</span
            >
            <span
              class="shipping-estimate-date shipping-estimate-detail"
              data-bind="text: estimateDetailLabel"
            ></span>
            <div class="sla-info hide">
              <div class="sla-price" data-bind="text: shippingPriceLabel">
                $ 979
              </div>
              <div class="sla-name">
                <small data-bind="text: shippingName"
                  >Envío Express - Lun a Vie de 9 a 21hs</small
                >
              </div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: available() --><!-- /ko -->
          </td>
          <td class="product-price">
            <!-- ko if: isPriceVisible -->
            <span
              class="list-price hide"
              data-bind="css: { 'hide' : !isListPriceVisible() }, visible: manualPrice() == null || (isManualPriceActive() &amp;&amp; manualPrice() == null)"
            >
              <span class="old-product-price-label" data-i18n="cart.oldPrice"
                >De</span
              >
              <del
                class="old-product-price muted"
                data-bind="text: listPriceLabel"
              ></del>
            </span>
            <br
              data-bind="css: { 'hide' : !isListPriceVisible() }"
              class="hide"
            />
            <span class="best-price">
              <span
                class="new-product-price-label hide"
                data-bind="css: { 'hide' : !isListPriceVisible() }, visible: manualPrice() == null || (isManualPriceActive() &amp;&amp; manualPrice() == null), i18nText: 'cart.newPrice'"
                >Por</span
              >
              <!-- ko ifnot: isManualPriceActive() -->
              <span
                class="new-product-real-price hide"
                data-bind="text: priceLabel"
                >$ 47.999</span
              >
              <!-- ko if: $parent.allowManualPrice() --><!-- /ko -->
              <!-- ko ifnot: $parent.allowManualPrice() -->
              <span
                class="new-product-price"
                data-bind="text: sellingPriceLabel"
                >$ 47.999</span
              >
              <!-- /ko -->
              <a
                class="manualprice-link-remove"
                href="javascript:void(0);"
                data-bind="click: removeManualPrice, visible: manualPrice() != null"
                data-i18n="[title]global.remove"
                style="display: none"
                title="Eliminar"
              >
                <i class="icon icon-remove item-remove-ico"></i>
                <span
                  class="hide manualprice-remove-text"
                  data-i18n="global.remove"
                  >Eliminar</span
                >
              </a>
              <!-- /ko -->
              <!-- ko if: isManualPriceActive() --><!-- /ko -->
              <small
                class="new-product-real-price-per-unit"
                data-bind="text: priceLabelPerUnit"
              ></small>
              <!-- ko if: sellingPriceList().length > 1 || price() > sellingPrice() --><!-- /ko -->
            </span>
            <!-- /ko -->
          </td>
          <td
            class="quantity"
            data-bind="css: {'cant-change-qty': !canChangeQty(), 'quantity-large': quantity() > 999},                   attr: { 'disabled': window.cart.loadingItem }"
          >
            <!-- ko if: router.inCart -->
            <!-- ko ifnot: router.sac.isActive() || hasParentItemIndex() -->
            <a
              class="item-quantity-change item-quantity-change-decrement"
              href="javascript:void(0);"
              data-bind="click: function() { if (canChangeQty()) { decrement(); } }, css: { 'disabled': !canChangeQty() }, attr: { 'id': 'item-quantity-change-decrement-' + id() }"
              data-i18n="[title]cart.decrement"
              id="item-quantity-change-decrement-64123"
              title="Disminuya la cantidad"
            >
              <i class="icon icon-minus-sign"></i
              ><span
                class="hide item-quantity-change-decrement-text"
                data-i18n="cart.decrement"
                >Disminuya la cantidad</span
              >
            </a>
            <!-- /ko -->
            <!-- ko ifnot: hasParentItemIndex() -->
            <input
              type="tel"
              min="1"
              data-bind="valueUpdate: 'keyup',            value: quantity,            maskOnBlur: '99999',            event: { blur: quantityBlurHandler },            attr: { 'disabled': !canChangeQty(), 'id': 'item-quantity-' + id() }"
              id="item-quantity-64123"
            />
            <!-- /ko -->
            <!-- ko if: hasParentItemIndex() --><!-- /ko -->
            <!-- ko ifnot: router.sac.isActive() || hasParentItemIndex() -->
            <a
              class="item-quantity-change item-quantity-change-increment"
              href="javascript:void(0);"
              data-bind="click: function() { if (canChangeQty()) { increment(); } }, css: { 'disabled': !canChangeQty() }, attr: { 'id': 'item-quantity-change-increment-' + id() }"
              data-i18n="[title]cart.increment"
              id="item-quantity-change-increment-64123"
              title="Aumente la cantidad"
            >
              <i class="icon icon-plus-sign"></i
              ><span
                class="hide item-quantity-change-increment-text"
                data-i18n="cart.increment"
                >Aumente la cantidad</span
              >
            </a>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: router.inOrderForm --><!-- /ko -->
            <small
              class="item-multiplier-label"
              data-bind="text: multiplierLabel"
            ></small>
            <small class="item-unit-label" data-bind="text: unitLabel"></small>
          </td>
          <td class="quantity-price">
            <span
              class="total-price hide"
              data-bind="text: priceValueLabel, if: isPriceVisible"
              >$ 47.999</span
            >
            <span
              class="total-selling-price"
              data-bind="text: valueLabel, if: isPriceVisible"
              >$ 47.999</span
            >
          </td>
          <td class="item-remove">
            <a
              class="item-link-remove"
              href="javascript:void(0);"
              data-bind="click: remove, visible: !window.cart.loadingItem(), attr: { 'id': 'item-remove-' + id() }"
              data-i18n="[title]global.remove"
              id="item-remove-64123"
              title="Eliminar"
            >
              <i class="icon icon-remove item-remove-ico"></i
              ><span class="hide item-remove-text" data-i18n="global.remove"
                >Eliminar</span
              >
            </a>
            <i
              class="loading-text icon-spinner icon-spin"
              data-bind="visible: window.cart.loadingItem"
              style="display: none"
            >
              <span data-i18n="cart.wait">Cargando datos...</span>
            </i>
          </td>
        </div>
        <!-- ko ifnot: router.sac.isActive() || hasParentItemIndex() -->
        <!-- /ko -->
      </tr>
      <!-- ko ifnot: available --><!-- /ko --><!-- ko if: itemAttachments() && itemAttachments().length > 0 --><!-- /ko --><!-- ko if: bundleItems() && bundleItems().length > 0 --><!-- /ko --><!-- ko if: components() && components().length > 0 --><!-- /ko -->
      <tr
        class="product-item"
        data-bind="attr: {'data-sku': id}, availableCSS: available(), css: { 'sac-product' : window.router.sac.isActive() }"
        rowspan="2"
        data-sku="82132"
      >
        <div class="v-custom-product-item-wrap">
          <td
            data-bind="css: { 'product-image': imageUrl, 'sac-loading' : window.cart.loadingItem() }"
            class="product-image"
          >
            <a
              href="//www.nike.com.ar/bolsa-nike/p"
              data-bind="attr: {'href': ('//' + location.host + detailUrl())}"
            >
              <!-- ko if: imageUrl -->
              <img
                height="45"
                width="45"
                data-bind="attr: {'src': imageUrl, 'alt': name, 'id': 'product-image-' + id()}"
                src="//nikearprod.vteximg.com.br/arquivos/ids/867192-200-200/BOLSAS.png?v=638417026790130000"
                alt="Bolsa de madera Nike"
                id="product-image-82132"
              />
              <!-- /ko -->
              <!-- ko ifnot: imageUrl --><!-- /ko -->
            </a>
          </td>
          <td
            class="product-name"
            data-bind="css: { 'sac-loading' : window.cart.loadingItem() }"
          >
            <!-- ko ifnot: router.sac.isActive() -->
            <a
              href="//www.nike.com.ar/bolsa-nike/p"
              data-bind="text: name, attr: {'href': ('//' + location.host + detailUrl()), 'id': 'product-name' + id() }"
              id="product-name82132"
              >Bolsa de madera Nike</a
            >
            <!-- /ko -->
            <!-- ko if: router.sac.isActive() --><!-- /ko -->
            <!-- ko ifnot: hasParentItemIndex() -->
            <div class="brand">
              <span class="brand-label" data-i18n="cart.seller.brand"
                >Marca</span
              >
              <span class="brand-name" data-bind="text: brand">Nike</span>
            </div>
            <small class="seller muted" data-bind="if: sellerName">
              <span data-i18n="cart.soldBy"
                >Suministrados y entregados por</span
              >
              <span data-bind="text: sellerName">Nike Argentina</span>
            </small>
            <!-- /ko -->
            <a
              href="javascript:void(0)"
              class="pull-right sku-button sku-selector-button"
              data-bind="click: openSKUSelector, clickBubble: false, visible: window.router.sac.isActive() &amp;&amp; skuOptions().length"
              style="display: none"
            >
              <span data-i18n="cart.sku.change">Cambiar este producto</span>
              <i
                data-bind="visible: !isSKUSelectorOpen()"
                class="icon icon-caret-down"
              ></i>
              <i
                data-bind="visible: isSKUSelectorOpen()"
                class="icon icon-caret-up"
                style="display: none"
              ></i>
            </a>
            <div
              class="sku-selector sku-seletor-82132"
              data-bind="attr: { class: 'sku-selector sku-seletor-' + id() }, fadeVisible: isSKUSelectorOpen"
              tabindex="-1"
              style="display: none"
            >
              <!-- ko if: SKUSelectorLoading() -->
              <div class="loading-img sku-selector-loading">
                <i class="icon-spinner icon-spin icon-3x">
                  <span data-i18n="global.loading">Cargando...</span>
                </i>
              </div>
              <!-- /ko -->
              <!-- ko if: skuOptions().length && !SKUSelectorLoading() --><!-- /ko -->
              <!-- ko if: skuOptions().length < 1 -->
              <p
                class="sku-message sku-selector-empty"
                data-i18n="cart.sku.withoutVariation"
              >
                Este producto no tiene variación
              </p>
              <!-- /ko -->
            </div>
            <ul
              class="item-discount-descriptions"
              data-bind="foreach: priceTags"
            ></ul>
            <!-- ko if: router.inCart() == true  && availableOfferings() -->
            <!-- ko if: availableOfferings().length > 1 --><!-- /ko -->
            <!-- ko if: availableOfferings().length == 1 --><!-- /ko -->
            <!-- ko if: itemAttachmentOfferings().length > 1 --><!-- /ko -->
            <!-- ko if: itemAttachmentOfferings().length == 1 --><!-- /ko -->
            <!-- ko if: itemAttachments() && itemAttachments().length > 0 --><!-- /ko -->
            <!-- /ko -->
          </td>
          <td
            class="shipping-date"
            data-bind="visible: !hasParentItemIndex(), css: { 'empty': estimateLabel() == 'a calcular', 'pickup-only': pickupOnly }, visible: !window.router.sac.isActive()"
          >
            <!-- ko if: available() -->
            <span
              class="shipping-estimate-date"
              data-bind="visible: !hasParentItemIndex(), text: estimateLabel"
              >Hasta 1 día hábil</span
            >
            <span
              class="shipping-estimate-date shipping-estimate-detail"
              data-bind="text: estimateDetailLabel"
            ></span>
            <div class="sla-info hide">
              <div class="sla-price" data-bind="text: shippingPriceLabel">
                $ 1.959
              </div>
              <div class="sla-name">
                <small data-bind="text: shippingName"
                  >Envío Express - Lun a Vie de 9 a 21hs</small
                >
              </div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: available() --><!-- /ko -->
          </td>
          <td class="product-price">
            <!-- ko if: isPriceVisible -->
            <span
              class="list-price hide"
              data-bind="css: { 'hide' : !isListPriceVisible() }, visible: manualPrice() == null || (isManualPriceActive() &amp;&amp; manualPrice() == null)"
            >
              <span class="old-product-price-label" data-i18n="cart.oldPrice"
                >De</span
              >
              <del
                class="old-product-price muted"
                data-bind="text: listPriceLabel"
              ></del>
            </span>
            <br
              data-bind="css: { 'hide' : !isListPriceVisible() }"
              class="hide"
            />
            <span class="best-price">
              <span
                class="new-product-price-label hide"
                data-bind="css: { 'hide' : !isListPriceVisible() }, visible: manualPrice() == null || (isManualPriceActive() &amp;&amp; manualPrice() == null), i18nText: 'cart.newPrice'"
                >Por</span
              >
              <!-- ko ifnot: isManualPriceActive() -->
              <span
                class="new-product-real-price hide"
                data-bind="text: priceLabel"
                >Gratis</span
              >
              <!-- ko if: $parent.allowManualPrice() --><!-- /ko -->
              <!-- ko ifnot: $parent.allowManualPrice() -->
              <span
                class="new-product-price"
                data-bind="text: sellingPriceLabel"
                >Gratis</span
              >
              <!-- /ko -->
              <a
                class="manualprice-link-remove"
                href="javascript:void(0);"
                data-bind="click: removeManualPrice, visible: manualPrice() != null"
                data-i18n="[title]global.remove"
                style="display: none"
                title="Eliminar"
              >
                <i class="icon icon-remove item-remove-ico"></i>
                <span
                  class="hide manualprice-remove-text"
                  data-i18n="global.remove"
                  >Eliminar</span
                >
              </a>
              <!-- /ko -->
              <!-- ko if: isManualPriceActive() --><!-- /ko -->
              <small
                class="new-product-real-price-per-unit"
                data-bind="text: priceLabelPerUnit"
              ></small>
              <!-- ko if: sellingPriceList().length > 1 || price() > sellingPrice() --><!-- /ko -->
            </span>
            <!-- /ko -->
          </td>
          <td
            class="quantity"
            data-bind="css: {'cant-change-qty': !canChangeQty(), 'quantity-large': quantity() > 999},                   attr: { 'disabled': window.cart.loadingItem }"
          >
            <!-- ko if: router.inCart -->
            <!-- ko ifnot: router.sac.isActive() || hasParentItemIndex() -->
            <a
              class="item-quantity-change item-quantity-change-decrement"
              href="javascript:void(0);"
              data-bind="click: function() { if (canChangeQty()) { decrement(); } }, css: { 'disabled': !canChangeQty() }, attr: { 'id': 'item-quantity-change-decrement-' + id() }"
              data-i18n="[title]cart.decrement"
              id="item-quantity-change-decrement-82132"
              title="Disminuya la cantidad"
            >
              <i class="icon icon-minus-sign"></i
              ><span
                class="hide item-quantity-change-decrement-text"
                data-i18n="cart.decrement"
                >Disminuya la cantidad</span
              >
            </a>
            <!-- /ko -->
            <!-- ko ifnot: hasParentItemIndex() -->
            <input
              type="tel"
              min="1"
              data-bind="valueUpdate: 'keyup',            value: quantity,            maskOnBlur: '99999',            event: { blur: quantityBlurHandler },            attr: { 'disabled': !canChangeQty(), 'id': 'item-quantity-' + id() }"
              id="item-quantity-82132"
            />
            <!-- /ko -->
            <!-- ko if: hasParentItemIndex() --><!-- /ko -->
            <!-- ko ifnot: router.sac.isActive() || hasParentItemIndex() -->
            <a
              class="item-quantity-change item-quantity-change-increment"
              href="javascript:void(0);"
              data-bind="click: function() { if (canChangeQty()) { increment(); } }, css: { 'disabled': !canChangeQty() }, attr: { 'id': 'item-quantity-change-increment-' + id() }"
              data-i18n="[title]cart.increment"
              id="item-quantity-change-increment-82132"
              title="Aumente la cantidad"
            >
              <i class="icon icon-plus-sign"></i
              ><span
                class="hide item-quantity-change-increment-text"
                data-i18n="cart.increment"
                >Aumente la cantidad</span
              >
            </a>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: router.inOrderForm --><!-- /ko -->
            <small
              class="item-multiplier-label"
              data-bind="text: multiplierLabel"
            ></small>
            <small class="item-unit-label" data-bind="text: unitLabel"></small>
          </td>
          <td class="quantity-price">
            <span
              class="total-price hide"
              data-bind="text: priceValueLabel, if: isPriceVisible"
              >Gratis</span
            >
            <span
              class="total-selling-price"
              data-bind="text: valueLabel, if: isPriceVisible"
              >Gratis</span
            >
          </td>
          <td class="item-remove">
            <a
              class="item-link-remove"
              href="javascript:void(0);"
              data-bind="click: remove, visible: !window.cart.loadingItem(), attr: { 'id': 'item-remove-' + id() }"
              data-i18n="[title]global.remove"
              id="item-remove-82132"
              title="Eliminar"
            >
              <i class="icon icon-remove item-remove-ico"></i
              ><span class="hide item-remove-text" data-i18n="global.remove"
                >Eliminar</span
              >
            </a>
            <i
              class="loading-text icon-spinner icon-spin"
              data-bind="visible: window.cart.loadingItem"
              style="display: none"
            >
              <span data-i18n="cart.wait">Cargando datos...</span>
            </i>
          </td>
        </div>
        <!-- ko ifnot: router.sac.isActive() || hasParentItemIndex() -->
        <!-- /ko -->
      </tr>
      <!-- ko ifnot: available --><!-- /ko --><!-- ko if: itemAttachments() && itemAttachments().length > 0 --><!-- /ko --><!-- ko if: bundleItems() && bundleItems().length > 0 --><!-- /ko --><!-- ko if: components() && components().length > 0 --><!-- /ko -->
      <!-- /ko -->
      <!-- ko if: gifts().length > 0 --><!-- /ko -->
    </tbody>
  </table>
  <button
    type="button"
    data-bind="click: showMore, visible: showShowMoreButton"
    id="show-more"
    class="submit btn btn-block btn-link show-more-items-button"
    data-i18n="cart.showMoreItems"
    style="display: none"
  >
    Mostrar más itenes
  </button>
</div>
