<div class="checkout">
  <div class="izquierda">
    <table class="table">
      <tr class="tr">
        <th col="2"><h3 class="h3">PRODUCTO</h3></th>
        <th></th>
        <th><h3 class="h3">PRECIO</h3></th>
        <th><h3 class="h3">CANTIDAD</h3></th>
        <th><h3 class="h3">SUBTOTAL</h3></th>
        <th></th>
      </tr>

      <tr *ngFor="let p of carritoService.items" class="tr">
        <td class="td">
          <div class="divtd">
            <a routerLink="/ver/{{ p.id }}" class="a"
              ><img src="{{ p.img }}" alt="" class="img"
            /></a>
          </div>
        </td>
        <td class="td">
          <h3 class="h3">
            <p class="p">
              <a routerLink="/ver/{{ p.id }}" class="a">{{ p.nombre }}</a>
            </p>
          </h3>
        </td>
        <td class="td">
          <h3 class="h3">
            <p class="p">$ {{ p.precio.toLocaleString() }}</p>
          </h3>
        </td>
        <td class="td">
          <div class="divtd">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-dash-circle"
              viewBox="0 0 16 16"
              (click)="restarCantidad(p.id)"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
              />
              <path
                d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"
              />
            </svg>
            <h3 class="h3">{{ p.cantidad }}</h3>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-plus-circle"
              viewBox="0 0 16 16"
              (click)="aumentarCantidad(p.id)"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
              />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
              />
            </svg>
          </div>
        </td>
        <td class="td">
          <h3 class="h3">$ {{ (p.precio * p.cantidad).toLocaleString() }}</h3>
        </td>
        <td class="td">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash"
            viewBox="0 0 16 16"
            (click)="removerProducto(p.id)"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
            />
            <path
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
            />
          </svg>
        </td>
      </tr>
    </table>
  </div>
  <div class="derecha">
    <div class="inside">
      <div class="flex paddingbot"><h3 class="h3">RESUMEN DE COMPRA</h3></div>
      <div class="grid-container">
        <h3 class="h3"><p class="p1">Subtotal</p></h3>
        <h3 class="h3">
          <p class="p2">
            $ {{ carritoService.resumen_subtotal.toLocaleString() }}
          </p>
        </h3>
        <h3 class="h3"><p class="p1">Descuento</p></h3>
        <h3 class="h3">
          <p class="p2">
            $ -{{ carritoService.resumen_descuento.toLocaleString() }}
          </p>
        </h3>
        <h3 class="h3"><p class="p1">Envío</p></h3>
        <h3 class="h3">
          <p class="p2"><i>Sin cargo</i></p>
        </h3>
      </div>
      <div class="grid-container">
        <h2 class="h2"><p class="1p">Total</p></h2>
        <h2 class="h2">
          <p class="p2">
            $ {{ carritoService.resumen_total.toLocaleString() }}
          </p>
        </h2>
      </div>
      <div class="flex paddingtop">
        <button class="button-40">
          <a routerLink="/pago" class="a">Iniciar pago</a>
        </button>
        <a routerLink="/" class="a"><h4 class="h4">Seguir comprando</h4></a>
      </div>
    </div>
  </div>
</div>
