.checkout {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: center;
  padding: 2em 0;
  gap: 25px;
}

.izquierda {
  width: 80%;
  background-color: rgb(245, 245, 245);
  padding: 1em;
}

.table {
  width: 100%;
}
.img {
  width: 100px;
  height: 100px;
}

.tr {
  border-bottom: 0.5px solid rgb(210, 210, 210);
}

.td {
  text-align: center;
}

.div {
  display: flex;
  flex-flow: nowrap;
  align-items: flex-end;
  justify-content: center;
}

.derecha {
  background-color: rgb(245, 245, 245);
  width: 450px;
  height: 412px;
  border-right: 15px solid;
  padding: 2em;
}

.derecha .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.derecha .grid-container::after {
  content: "";
  margin-left: 12px;
  height: 1px;
  width: 90%;
  margin-top: 10px;
  background-color: lightgrey;
  display: block;
}

.derecha .p2 {
  display: flex;
  align-items: center;
  justify-content: right;
}

.derecha .h3 {
  font-size: smaller;
}

.derecha .flex {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
