<div class="checkout">
  <div class="izquierda">
    <table class="table">
      <tr class="tr">
        <th>PRODUCTO</th>
        <th>desc</th>
        <th>PRECIO</th>
        <th>CANTIDAD</th>
        <th>SUBTOTAL</th>
        <th>X</th>
      </tr>

      <tr *ngFor="let p of productosDelCarro" class="tr">
        <td class="ts">
          <div class="div"><img src="{{ p.img }}" alt="" class="img" /></div>
        </td>
        <td class="td">
          <p class="p">{{ p.nombre }}</p>
        </td>
        <td class="td">
          <p class="p">{{ p.precio }}</p>
        </td>
        <td class="td">{{ p.cantidad }}</td>
        <td class="td">{{ p.precio * p.cantidad }}</td>
        <td class="td">X</td>
      </tr>
    </table>
  </div>
  <div class="derecha">
    <div class="inside">
      <div class="flex">RESUMEN DE COMPRA</div>
      <div class="grid-container">
        <p class="p1">Subtotal</p>
        <p class="p2">$180000</p>
        <p class="p1">Descuento</p>
        <p class="p2">$-20000</p>
        <p class="p1">Envío</p>
        <p class="p2">Sin cargo</p>
        <p class="1p">Total</p>
        <p class="p2">$160000</p>
      </div>
      <div class="flex">
        <button class="button-40">Iniciar pago</button>
        <a routerLink="/" class="a"><h3 class="h3">Seguir comprando</h3></a>
      </div>
    </div>
  </div>
</div>
