<div class="img">
  <a routerLink="/ver/{{ p.id }}" class="a"
    ><img
      class="img1"
      src="{{ p.imagen }}"
      alt="img"
      draggable="false"
      loading="lazy"
  /></a>
</div>
<h3 class="h3 nuevo" *ngIf="p.nuevo">Lo nuevo</h3>
<h3 class="h3">{{ p.nombre }}</h3>
<h3 class="h3 descripcion">{{ p.descripcion }}</h3>
<div *ngIf="p.descuento > 0; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <div class="boxprecio">
    <h3 class="h3 precio tachado">$ {{ p.precio.toLocaleString() }}</h3>
    <h3 class="h3 precio">
      $ {{ calcularDescuento(p.precio, p.descuento).toLocaleString() }}
    </h3>
  </div>
  <h3 class="h3 precio descuento">
    {{ p.descuento }}% de descuento
  </h3></ng-template
>
<ng-template #elseBlock
  ><h3 class="h3 precio">$ {{ p.precio.toLocaleString() }}</h3></ng-template
>
